:root {
  --primary: white;
  --secondary: #1e9437;
  --underline: #38b553;
  --dark-green: #2e4c35;
  --background: #4e5b51;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary);
  background: var(--background);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  background: radial-gradient(
      circle at top,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("assets/leafs.jpg"), var(--background);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  background: linear-gradient(270deg, var(--dark-green), var(--background)),
    var(--dark-green);
  border-bottom: 2px solid var(--underline);
  box-shadow: 0 3px 5px var(--dark-green);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#navbar {
  flex-grow: 1;
  align-self: center;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#navbar ul li {
  letter-spacing: 0.1em;
}
/* END HEADER */

/* MAIN */
main {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  background: rgba(10,10,10,0.8);
  border-left: 5px solid var(--dark-green);
  border-right: 5px solid var(--dark-green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  text-shadow: 2px 2px var(--dark-green), 0 -2px 5px var(--dark-green);
  text-transform: uppercase;
  font-size: 1em;
}

#welcome {
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  border-top: 1px solid var(--dark-green);
  border-bottom: 1px solid var(--dark-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("assets/castle_entrance.jpg") center;
  background-size: cover;
  filter: saturate(60%);
}

#welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  color: var(--primary);
  background: rgba(0,0,0,0.7);
  min-width: 100%;
  height: 100%;
}

#welcome i {
  margin: 20px auto;
}

#message {
  margin-top: 20px;
  padding: 20px;
  align-self: center;
  justify-self: flex-start;
}

#family {
  margin-bottom: 100px;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 2px solid var(--secondary);
  display: flex;
  flex-direction: column;
  background: var(--dark-green);
  box-shadow: none;
  margin-bottom: 20px;
  filter: saturate(0);
}
.card:hover,
.card:active {
  border: 2px solid var(--primary);
  filter: saturate(100%);
  box-shadow: 5px 0 10px var(--dark-green);
}
.member_name {
  font-size: 1em;
}

.member_img {
  width: 250px;
  height: 380px;
  align-self: flex-end;
}

.member_img:hover {
  filter: saturate(100%);
}

.card:hover > .member-desc {
  visibility: visible;
}

.member-desc {
  display: block;
  visibility: hidden;
  max-width: 250px;
  color: var(--primary);
  position: absolute;
  bottom: 0;
  z-index: 2;
  background: var(--dark-green);
  padding: 20px 5px;
}
/* END MAIN */

.events-table {
  margin: 0 auto 20px auto;
  border: 1px solid var(--secondary);
  border-spacing: 0;
  width: 80vw;
}

.events-table caption {
  font-style: italic;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.events-table thead {
  background: var(--dark-green);
}

.events-table tr td,
.events-table tr th {
  border-bottom: 1px solid var(--secondary);
  padding: 2px 15px;
}

.events-table tbody tr:nth-child(even) {
  background: var(--dark-green);
  filter: saturate(50%);
}

.events-table tbody tr:nth-child(odd) {
  background: var(--dark-green);
  filter: saturate(10%);
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  text-decoration: underline;
}

.ticket {
  color: white;
}

.ticket-buy {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.bigger {
  font-size: 3em;
}

@media (max-width: 600px) {
  #navbar ul {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin: 0;
  }

  h1 {
    font-size: 0.9em;
  }

  #welcome {
    width: 100%;
    height: 150px;
    margin-top: 0;
  }

  main {
    padding: 0;
  }

  #cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (min-width: 800px) {

  h1 {
    font-size: 1.6em;
  }
  #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}